version: "3.7"

services:
  mariadb:
    image: mariadb:10.5
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - arima-mariadb:/var/lib/mysql
    ports:
      - 9991:3306 # for debugging

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.8.3
    environment:
      - discovery.type=single-node
    volumes:
      - arima-elasticsearch:/usr/share/elasticsearch/data
    ports:
      - 9992:9200 # for debugging

  ivis:
    build: ivis
    image: arima-docker
    depends_on:
      - mariadb
      - elasticsearch
    ports:
      - 8080:8080
      - 8081:8081
      - 8082:8082
    environment:
      - NODE_ENV=arima
      - NODE_WATCH=1

  uploader:
    build: data_uploader
    image: data_uploader
    environment:
      - API_HOST=ivis
      - API_PORT=8082
      - API_BASE=http://ivis:8082/api
      - MYSQL_HOST=mariadb
      - MYSQL_PORT=3306
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}

volumes:
  arima-mariadb:
  arima-elasticsearch: